@*Uppgift 2 nedan*@
@model Band
@*Uppgift 4*@
@{
    ViewBag.Title = "Create band";
}
@*Uppgift 2*@
<div>
    <h1>Create</h1>
    <form asp-controller="bands" asp-action="create">
        <label asp-for="BandName"></label>
        <input asp-for="BandName" />
        <span asp-validation-for="BandName"></span>
        <br />
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <br />
        <label asp-for="ImagePath"></label>
        <input asp-for="ImagePath" />
        <span asp-validation-for="ImagePath"></span>
        <br />
        <label asp-for="YouTubeLink"></label>
        <input asp-for="YouTubeLink" />
        <span asp-validation-for="YouTubeLink"></span>
        <br />
        <input type="submit" name="btnSubmit" value="Submit Band" />
    </form>
</div>
@*Uppgift 4*@
@section scripts  {
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@
    <partial name="_ValidationScripts" />
}