@* Uppgift 4 *@
@model Band
@{
    ViewBag.Title = "Edit band";
}
@* Uppgift 2 stretch *@
<div>
    <h1>Edit</h1>
    <form asp-controller="bands" asp-action="edit">
        <label asp-for="BandName"></label>
        <input asp-for="BandName" value="@Model.BandName" />
        <br />
        <label asp-for="Description"></label>
        <input asp-for="Description" value="@Model.Description" />
        <br />
        <label asp-for="ImagePath"></label>
        <input asp-for="ImagePath" value="@Model.ImagePath" />
        <br />
        <label asp-for="YouTubeLink"></label>
        <input asp-for="YouTubeLink" value="@Model.YouTubeLink" />
        <br />
        <input type="submit" name="btnSubmit" value="Submit Edited Band" />
    </form>
</div>