@*Uppgift 2 nedan*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RepQuiz.Models.Band

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Edit</h1>
    <form asp-controller="bands" asp-action="edit">
        <label asp-for="BandName"></label>
        <input asp-for="BandName" value="@Model.BandName"/>
        <br />
        <label asp-for="Description"></label>
        <input asp-for="Description" value="@Model.Description"/>
        <br />
        <label asp-for="ImagePath"></label>
        <input asp-for="ImagePath" value="@Model.ImagePath"/>
        <br />
        <label asp-for="YouTubeLink"></label>
        <input asp-for="YouTubeLink" value="@Model.YouTubeLink"/>
        <br />
        <input type="submit" name="btnSubmit" value="Submit Edited Band" />
    </form>
</body>
</html>